@model List<SistemaEventos.Models.Reserva>
@{
    ViewBag.Title = "Listar";
}

<div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
    <div class="grow">
        <h5 class="text-16">Reservas</h5>
    </div>
    <ul class="flex items-center gap-2 text-sm font-normal shrink-0">
        <li class="relative before:content-['\ea54'] before:font-remix ltr:before:-right-1 rtl:before:-left-1  before:absolute before:text-[18px] before:-top-[3px] ltr:pr-4 rtl:pl-4 before:text-slate-400 dark:text-zink-200">
            <a href="#!" class="text-slate-400 dark:text-zink-200">Tables</a>
        </li>
        <li class="text-slate-700 dark:text-zink-100">
            Reservas Realizadas
        </li>
    </ul>
</div>

<div class="card" id="customerList">
    <div class="card-body">

        <div class="overflow-x-auto">
            <table class="w-full whitespace-nowrap" id="customerTable">
                <thead class="bg-slate-100 dark:bg-zink-600">
                    <tr>
                        <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500" scope="col" style="width: 50px;">
                            <input class="border rounded-sm appearance-none cursor-pointer size-4 bg-slate-100 border-slate-200 dark:bg-zink-600 dark:border-zink-500 checked:bg-custom-500 checked:border-custom-500 dark:checked:bg-custom-500 dark:checked:border-custom-500 checked:disabled:bg-custom-400 checked:disabled:border-custom-400" type="checkbox" id="checkAll" value="option">
                        </th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="customer_name">Id</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="email"> Evento</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="phone"> Usuario</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="date">  Fecha de Reserva</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="date">  Horario</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="date">  Nro. Invitados</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="date">  Estado</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="action">Action</th>
                    </tr>
                </thead>
                <tbody class="list form-check-all">

                    @foreach (var m in Model)
                    {
                        <tr>
                            <th class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500" scope="row">
                                <input class="border rounded-sm appearance-none cursor-pointer size-4 bg-slate-100 border-slate-200 dark:bg-zink-600 dark:border-zink-500 checked:bg-custom-500 checked:border-custom-500 dark:checked:bg-custom-500 dark:checked:border-custom-500 checked:disabled:bg-custom-400 checked:disabled:border-custom-400" type="checkbox" name="chk_child">
                            </th>

                            <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"> @m.Id</td>
                            <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"> @m.Evento.Titulo</td>
                            <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"> @m.Usuario.Apellido, @m.Usuario.Nombre</td>
                            <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"> @m.FechaReserva</td>
                            <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"> @m.Horario.HoraInicio - @m.Horario.HoraFin</td>
                            <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500"> @m.NumeroInvitados</td>


                            @if (m.Estado.Equals("realizado"))
                            {
                                <td style="width: 150px">
                                    <span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-green-100 border-transparent text-green-500 dark:bg-green-500/20 dark:border-transparent text-uppercase">
                                        Realizado
                                    </span>
                                </td>
                            }
                            else
                            {
                                <td style="width: 150px">
                                    <span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-red-100 border-transparent text-red-500 dark:bg-red-500/20 dark:border-transparent text-uppercase">
                                        Pendiente
                                    </span>
                                </td>
                            }


                            <td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">
                                <div class="flex gap-2">

                                    <div class="remove">
                                        <a href="~/Reserva/Eliminar/@m.Id" id="delete-record"
                                           class="py-1 text-xs text-white bg-red-500 border-red-500 btn hover:text-white hover:bg-red-600 hover:border-red-600 focus:text-white focus:bg-red-600 focus:border-red-600 focus:ring focus:ring-red-100 active:text-white active:bg-red-600 active:border-red-600 active:ring active:ring-red-100 dark:ring-custom-400/20 remove-item-btn"
                                           onclick="return confirm('¿Está seguro?')">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>

        <div class="flex justify-end mt-4">
            <div class="f clex gap-2 pagination-wrap">
                <a class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item pagination-prev disabled pagination-prev disabled" href="#">
                    Previous
                </a>
                <ul class="flex gap-2 mb-0 pagination listjs-pagination"></ul>
                <a class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item pagination-prev disabled pagination-next" href="#">
                    Next
                </a>
            </div>
        </div>
    </div>
</div>
