@model SistemaEventos.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    var usuario = new SistemaEventos.Models.Usuario().
    Obtener(SistemaEventos.Models.SessionHelper.GetUser());
}

<div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
    <div class="grow">
        <h5 class="text-16">Dashboard</h5>
    </div>
    <ul class="flex items-center gap-2 text-sm font-normal shrink-0">
        <li class="text-slate-700 dark:text-zink-100">
            Dashboard
        </li>
    </ul>
</div>
<div class="grid grid-cols-12 2xl:grid-cols-12 gap-x-5">
    <!-- PANEL DE INICIO CON NOMBRE DE USUARIO -->
    <div class="relative col-span-12 overflow-hidden card bg-slate-900">
        <div class="relative card-body">
            <div class="grid items-center grid-cols-12">
                <div class="col-span-12 lg:col-span-8 2xl:col-span-7">
                    <h5 class="mb-3 font-normal tracking-wide text-slate-200">
                        Bienvenido
                        @usuario.Nombre🎉
                    </h5>
                    <p class="mb-5 text-slate-400">
                        Nos alegra verte aquí. Este panel de control te
                        proporcionará una visión clara y rápida de los eventos y sus indicadores
                        clave de rendimiento. ¡Esperamos que tengas una excelente experiencia!
                    </p>
                </div>
                <div class="hidden col-span-12 2xl:col-span-3 lg:col-span-2 lg:col-start-11 2xl:col-start-10 lg:block">
                    <img src="assets/images/dashboard.png" alt=""
                         class="h-40 ltr:2xl:ml-auto rtl:2xl:mr-auto">
                </div>
            </div>
        </div>
    </div>
</div><!--end grid-->


<div class="grid grid-cols-1 gap-x-5 md:grid-cols-2 2xl:grid-cols-12">
    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center rounded-md size-12 text-15 bg-custom-50 text-custom-500 dark:bg-custom-500/20 shrink-0"><i data-lucide="boxes"></i></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" data-target="@Model.TotalEvents">0</h5>
                    <p class="text-slate-500 dark:text-zink-200">Total de eventos </p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center rounded-md size-12 text-15 bg-sky-50 text-sky-500 dark:bg-sky-500/20 shrink-0"><i data-lucide="package-plus"></i></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" data-target="@Model.TotalReservations"></h5>
                    <p class="text-slate-500 dark:text-zink-200">Total de Reservas</p>
                </div>
            </div>
        </div>
    </div><!--end col-->




    <div class="order-last md:col-span-2 2xl:col-span-8 2xl:row-span-3 card 2xl:order-none">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-zink-50">Eventos</h6>
            <div id="ordersOverview" class="apex-charts" data-chart-colors='["bg-custom-500"]' dir="ltr"></div>
        </div>
    </div><!--end col-->



    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center text-yellow-500 rounded-md size-12 text-15 bg-yellow-50 dark:bg-yellow-500/20 shrink-0"><i data-lucide="loader"></i></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" data-target="@Model.PendingReservations">0</h5>
                    <p class="text-slate-500 dark:text-zink-200">Reservas Pendientes </p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center text-purple-500 rounded-md size-12 text-15 bg-purple-50 dark:bg-purple-500/20 shrink-0"><i data-lucide="truck"></i></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" data-target="@Model.ConfirmedReservations">0</h5>
                    <p class="text-slate-500 dark:text-zink-200">Reservas Confirmadas </p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center text-green-500 rounded-md size-12 text-15 bg-green-50 dark:bg-green-500/20 shrink-0"><i data-lucide="package-check"></i></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" data-target="@Model.TotalClients">0</h5>
                    <p class="text-slate-500 dark:text-zink-200">Total de Clientes</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center text-red-500 rounded-md size-12 text-15 bg-red-50 dark:bg-red-500/20 shrink-0"><i data-lucide="package-x"></i></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" data-target="@Model.TotalEmployees">0</h5>
                    <p class="text-slate-500 dark:text-zink-200"> Empleados</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end grid-->


<!-- apexcharts -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

<!--Ecommerce orders init-->
<script src="~/assets/js/pages/apps-ecommerce-orders.init.js"></script>


<script>
    var reservationsData = @Html.Raw(Json.Encode(Model.ReservationsByMonth.Select(r => r.Count).ToList()));
    var categories = @Html.Raw(Json.Encode(Model.ReservationsByMonth.Select(r => new DateTime(r.Year, r.Month, 1).ToString("MMM yyyy")).ToList()));

    var options = {
        series: [{
            name: 'Reservations',
            data: reservationsData
        }],
        chart: {
            height: 238,
            type: 'bar',
            toolbar: {
                show: false,
            }
        },
        plotOptions: {
            bar: {
                borderRadius: 5,
                dataLabels: {
                    position: 'top', // top, center, bottom
                },
            }
        },
        dataLabels: {
            enabled: true,
            formatter: function (val) {
                return val + "%";
            },
            style: {
                fontSize: '12px',
            }
        },
        grid: {
            padding: {
                bottom: -10,
            }
        },
        xaxis: {
            categories: categories,
            position: 'top',
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: false
            },
            tooltip: {
                enabled: true,
            }
        },
        yaxis: {
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: false,
            },
            labels: {
                show: false,
                formatter: function (val) {
                    return val + "%";
                }
            }
        },
        colors: getChartColorsArray("ordersOverview"),
    };

    var chart = new ApexCharts(document.querySelector("#ordersOverview"), options);
    chart.render();
</script>



